form {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 1rem;
}

form input {
  margin-bottom: 1.5rem;
  height: 1rem;
  border: none;
  border-bottom: solid 1px var(--orange);
}

form button {
  margin: auto;
}